@page "/Favorites"
@using Models
@using RecipeRecWebApp.Components;
@inject ILogger<Favorites> logger;

<PageTitle>Favorites</PageTitle>

<div class="grid-container">
	<div class="basket">
		<h1>Favorites</h1>
		@foreach (var recipe in SharedDataModel.FavoriteRecipes)
		{
			<button @onclick="() => {OpenRecipe(recipe);}" class="custom-fav-button">
				<div class="recipe-details">
						<p>@recipe.Name</p>
				</div>
				<span class="bi add-favorite-selected" @onclick="() => DeleteSelected(recipe)" @onclick:stopPropagation=true></span>
			</button>
			@if (display.ContainsKey(recipe))
			{
				<PopUpComponent display="@display[recipe]" OnClose="() => {CloseRecipe(recipe);}" RecipeModel="@recipe" Ingredients="@recipe.Ingredients"></PopUpComponent>
			}
		}
	</div>
	<div>
		<RecipesComponent></RecipesComponent>
	</div>
</div>

