@page "/Favorites"

<PageTitle>Favorites</PageTitle>

<div class="grid-container">
	<div class="basket">
		<h1>Favorites</h1>
		@* <div> foreach(favorite recipes) </div> *@
	</div>
	@* <div class="recipes"> *@
	@* </div>  common componet accross all 3 pages to display recipes*@ 
</div>
