
.grid-container {
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 0.6fr 10fr;
    height: 100vh;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}