@page "/Pantry"
@using Models
@inject ILogger<Pantry> logger;

<PageTitle>Pantry</PageTitle>	
<div class="grid-container">
	<div class="basket">
		<h1>Pantry</h1>
		@foreach(var item in SharedDataModel.SelectedIngredients)
		{
			<div class="basket-item">
				<p>@item.Name</p>
				<button @onclick="() => { DeleteSelected(item); }" class="btn btn-danger"><i class="bi bi-trash"></i>Delete</button>
			</div>
		}
	</div>
	@* <div class="recipes"> *@
	@* </div>  common componet accross all 3 pages to display recipes*@ 
</div>


