@page "/Pantry"
@using Models
@inject ILogger<Pantry> logger;
@using RecipeRecWebApp.Components;

<PageTitle>Pantry</PageTitle>	
<div class="grid-container">
	<div class="basket">
		<h1>Pantry</h1>
		@foreach(var item in SharedDataModel.SelectedIngredients)
		{
			<div class="basket-item">
				<p>@item.Name</p>
				<span @onclick="() => { DeleteSelected(item); }" class="bi bi-trash"></span>
			</div>
		}
	</div>
	<div>
		<RecipesComponent></RecipesComponent>
	</div>
</div>


