@page "/Pantry"
@using Models
@using RecipeRecWebApp.Components
@inject ILogger<Pantry> logger;
@inject NavigationManager Navigation
<PageTitle>Pantry</PageTitle>	
<div class="grid-container">
	<div class="basket">
		<h1>Pantry</h1>
		@foreach(var item in SharedDataModel.SelectedIngredients)
		{
			<div class="basket-item">
				<p>@item.Name</p>
				<button @onclick="() => { DeleteSelected(item); }" class="btn btn-danger"><i class="bi bi-trash"></i>Delete</button>
			</div>
		}

		<button @onclick="HandleSearchClick" class="btn btn-primary mt-3">
			<i class="bi bi-search"></i> Add Ingredient
		</button>
	</div>

 <div class="recipes">
        <RecipeDisplay></RecipeDisplay>
    </div>
</div>