
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.buttons-aligner {
    display: inline-flex;
}

.ingredients {
    padding: 20px;
    background-image: linear-gradient(180deg, rgb(135, 206, 250) 0%, #dda0dd 70%);
    height: 100vh;
    width: 50vh;
    overflow-y: scroll;
    border: solid black;
    overflow-x: auto;
}

.category-header {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.category-icon {
    width: 24px;
    height: 24px;
}

.ingredients-grid {
    display: flex;
    flex-wrap: wrap;
    gap: normal;
    margin-top: auto;
}

.ingredient-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    color: white;
    cursor: pointer;
    margin: 5px;
}
.ingredient-card:hover{
    background-color: aliceblue;
    color: black;
}
.ingredient-card.selected {
    background-color: lightblue;
    color: darkblue;
    border-color: blue;
}

.recipes {
    padding: 20px;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 4px dashed rebeccapurple;
    border-radius: 50%;
    animation: spin 3s linear infinite;
    margin: 20px;
}

@keyframes spin{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

