
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.ingredients {
    padding: 20px;
}

.recipes {
    padding: 20px;
}

@media (max-width: 768px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}